h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 40px;
}
h2 {
  font-size: 50px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 700;
}
.border {
  border: 1px solid #333;
}
.bluebg {
  background: #554c86;
  padding: 94px 0;
  text-align: center;
}
.bluebg .catergoryicons {
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bluebg .categorytxt {
  margin-top: 40px;
  color: #fff;
  font-size: 28px;
  margin-bottom: 30px;
}
.bluebg .gap {
  height: 60px;
}
.greenbg {
  background: #39d47a;
  padding: 100px 40px;
}
.greenbg p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
}
.greenbg .common-button a {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 90px;
  color: #fff;
  padding: 15px 20px;
}
section {
  padding: 70px 0;
}
.prods {
  background-color: #e2dff2;
}
.heading {
  padding-bottom: 25px;
}
.product {
  background: #fff;
  border-radius: 10px;
}
.product-img img {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-details {
  padding: 20px;
}
.product-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-left h6 {
  font-size: 16px;
  font-weight: 700;
}
.product-price {
  font-size: 20px;
  color: #0e51b4;
  font-weight: 700;
}
.product ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.product li {
  background: #f7f7f7;
  color: #2b2b2b;
  padding: 7px 12px;
  margin-left: 10px;
  border-radius: 10px;
}
.product-location {
  border-top: 1px solid #efefef;
  padding-top: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-btn {
  background: #0e51b4;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border: 1px solid transparent;
}
.product-btn:hover {
  color: #0e51b4;
  background: #ffffff;
  border: 1px solid #333;
}
