@import "veriable.less";



.bluebg {
    background: @color-primary;
    padding: 94px 0;
    text-align: center;
    .catergoryicons {
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categorytxt {
        margin-top: 40px;
        color: @text-color-primary;
        font-size: 28px;
        margin-bottom: 30px;
    }


.gap {
    height: 60px;
}

}


.greenbg{
    background: @color-secondary;
    padding: 100px 40px;

    h1{
        color: @text-color-primary;
        font-size: @font-size * 5;
        font-weight: 900;
        margin-bottom: 40px;
    }

    p{
        color: @text-color-primary; 
        font-size: 14px;
        margin-bottom: 30px; 
    }
    .common-button a{
        display: inline-block;
        border:1px solid @text-color-primary;
        border-radius: 90px;
        color:@text-color-primary;
        padding: 15px 20px;
    }

}



